<p>Ngrx Effects -- API call</p>

<p> CB soft dev Credentials </p>
<p> admin </p>
<p> 64aphfhu33 </p>

<div>
    <p *ngIf="(currentUser$ | async)">  
        User - {{ (currentUser$ | async)?.name }} 
        <br>
        <button mat-raised-button color="warn" (click)="logout()"> Logout </button>
    </p>
    <p *ngIf="!(currentUser$ | async)"> 
        current User - null
    </p>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="cbsoftLoginForm" 
    *ngIf="!(currentUser$ | async)">
    <div>
        <p> Username </p>
        <input matInput type="text" formControlName="username">
    </div>
    <div>
        <p> Password </p>
        <input matInput type="password" formControlName="password">
    </div>
    <button mat-raised-button color="primary" type="submit" class="button-class"> 
        <mat-spinner color="warn" [diameter]="20" *ngIf="(loading$ | async)"></mat-spinner>
        <span> Submit </span> 
    </button>
</form>
<div *ngIf="error$ | async">
    Error Message - {{ error$ | async }}
</div>
